<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <h1 style="text-align: center;">This site takes location of user as input adn gives temperature to respective location.</h1>
    {{>footer}}
</body>
</html>